body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 10vh;
  font-family: Arial, sans-serif;
  background-color: #191919;
}

#container{
  text-align: center;
  width: 80vw;
  max-width: 100%;
  height: 80vw;
  max-height: 90%;

  font-size: 1.5em;
  border-color: transparent;
  border-radius: 10px;
  background-color: #386f31;
  padding: 2vh;
  cursor: pointer;
}

#countLabel{
  font-size: 50px;

  display: block;
  text-align: center;
  font-family: Helvetica;
}

#btn{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  text-align: center;
}

.button{
  font-size: 20px;
  padding: 1vh 2vh;
  margin: 0.5vh;

  background-color: #3a8d2f;
  border-color: transparent;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover{
  background-color: #60c452;
}
