body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

#countLabel{
  font-size: 10vw;
  margin-bottom: 2vh;

  display: block;
  text-align: center;
  font-size: 10em;
  font-family: Helvetica;
}

#container{
  text-align: center;
  width: 80vw;
  max-width: 500px;

  padding: 1px 30px;
  font-size: 1.5em;
  background-color: #386f31;
  border-color: transparent;
  border-radius: 10px;
  cursor: pointer;
}

#btn{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  padding: 20px;
  text-align: center;
}

.button{
  font-size: 4vw;
  padding: 1vh 2vw;
  margin: 0.5vh;

  background-color: #3a8d2f;
  border-color: transparent;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover{
  background-color: #60c452;
}
